html,
body {
  height: 100%;
  width: 100%;
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  background-color: #f8f9fa;
  overflow-x: hidden !important;
}

/* homepage header-jumbotron */

.home-page .jumbotron.header-jumbotron {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("https://technext.github.io/podca/images/hero_bg_1.jpg");
  width: 100%;
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.home-page .jumbotron.header-jumbotron .text-container {
  color: white;
  padding: 10% 10%;
  text-align: center;
}

/* spacing */
.recent-podcasts,
.podcaster-profile {
  margin-top: 100px;
  margin-bottom: 100px;
}

/* subscribe jumbotron */
.home-page .subscribe-jumbotron .jumbotron {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://technext.github.io/podca/images/hero_bg_1.jpg");
  width: 100%;
  height: 60vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 0 !important;
}

.home-page .subscribe-jumbotron .jumbotron .text-container {
  color: white;
  padding: 5%;
  text-align: center;
}

.home-page .subscribe-jumbotron .jumbotron .text-container input {
  background-color: transparent !important;
  height: 50px !important;
}

/* spacing */
.recent-podcasts,
.podcaster-profile {
  margin-top: 100px;
  margin-bottom: 100px;
}

/* footer jumbotron */
.footer-jumbotron-section .jumbotron.footer-jumbotron {
  background-color: #333333 !important;
  width: 100%;
  height: 350px;
  margin-bottom: 0 !important;
  color: white !important;
}

.footer-jumbotron-section .jumbotron .jumbotron-txt-container {
  padding: 30px;
  width: 100%;
  height: 100%;
}

/* podcast page header jumbotron */
.home-page .jumbotron.podcast-header-jumbotron {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("https://technext.github.io/podca/images/hero_bg_1.jpg");
  width: 100%;
  height: 60vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.navbar-fixed-top.scrolled {
  background-color: #fff !important;
  transition: background-color 200ms linear;
}
